@import '../../styles/mixins';
@import '../../styles/varaibles';


.container {
    @include fullContainer;
    background-color: $gray;
    @include flex(column, flex-start, center);


    .filter {
        margin-top: 3rem;
        width: 90%;
        @include flex(row, space-between, center);

        p {
            background-color: $white;
            padding: 0.5rem 1rem;
            border-radius: 1rem;
        }

        select {
            background-color: $white;
            padding: 0.5rem 2rem;
            border-radius: 1rem;
            cursor: pointer;
            font-size: 1.1rem;
        }

        option {
            background-color: $white;
            padding: 0.5rem 2rem;
            cursor: pointer;
            height: 2rem;
        }

        select {
            -webkit-appearance: none;
            appearance: none;
          }
        .select-wrapper{
            position: relative;
            &:after {
                content: "▼";
                font-size: 1rem;
                top: 0.5rem;
                right: 10px;
                position: absolute;
              }
          }
    }

    .cart-container {
        margin-top: 6rem;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-content: space-around;
        align-items: center;
    }

    .add-button{
        position: fixed;
        bottom: 2rem;
        right: 3rem;
        cursor: pointer;
    }
}